# flask
# gunicorn
# langchain
# langchain-google-genai
# langchain-pinecone
# pinecone-client
# beautifulsoup4
# requests
# python-dotenv
# sentence-transformers
# langchain-community
# flask
# gunicorn
# langchain
# langchain-google-genai
# langchain-pinecone
# pinecone-client
# beautifulsoup4
# requests
# python-dotenv
# langchain-community
# 'https://changi-chatbot-s0i6.onrender.com/ask'
flask
gunicorn
langchain
langchain-google-genai
langchain-pinecone
pinecone-client
beautifulsoup4
requests
python-dotenv
langchain-community
flask-cors